main {
	display: flex;
	flex-direction: row;
	gap: 50px;
	padding: 50px;
}

nav.kontoNav {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

nav.kontoNav a {
	text-decoration: none;
	padding: 10px 20px;
	border: 1px solid #acacac;
	border-radius: 5px;
}

nav.kontoNav a:hover {
	background-color: #ababab;
}

hr {
	border: 1px solid #acacac;
}
